## Setup

In [7]:
# Import Dependencies.
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

import requests
import json

from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import MinMaxScaler

from tensorflow.keras.models import load_model
from tensorflow.keras.utils import to_categorical
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

from joblib import dump, load

In [8]:
# Fetch the data from the API.
listings_json = requests.get("http://127.0.0.1:5000/housingDataAPI/v1.0/listings").json()

# Examine the data.
print(json.dumps(listings_json[0], indent=4, sort_keys=True))

{
    "address": "3157 NE MARINE DR, Portland OR 97035",
    "bathrooms": 1.0,
    "bedrooms": 1,
    "built": 1964,
    "city": "Portland",
    "county": "Multnomah",
    "elementary_school": "Faubion",
    "high_school": "Current Price:",
    "home_type": "Floating Home - 1 Story",
    "lot_size": null,
    "middle_school": "Jefferson",
    "neighborhood": "unknown",
    "price": 65000,
    "square_feet": 800,
    "zipcode": 97035
}

In [9]:
# Create a dataframe to use for our model.
housing_data = pd.DataFrame(listings_json)

print(len(housing_data))
housing_data.head()

3652

,address,bathrooms,bedrooms,built,city,county,elementary_school,high_school,home_type,lot_size,middle_school,neighborhood,price,square_feet,zipcode
0,"3157 NE MARINE DR, Portland OR 97035",1.0,1,1964,Portland,Multnomah,Faubion,Current Price:,Floating Home - 1 Story,NaN,Jefferson,unknown,65000,800,97035
1,"17452 NE GLISAN ST #7, Portland OR 97230",2.0,2,1988,Portland,Multnomah,Hartley,Reynolds,Manufactured - Double Wide Manufact,NaN,Reynolds,unknown,72000,1152,97230
2,"9034 SE 78TH PL, Portland OR 97206",2.0,3,1997,Portland,Clackamas,Whitman,Current Price:,Manufactured - Double Wide Manufact,NaN,Milwaukie,unknown,79950,1344,97206
3,"16000 SE POWELL BLVD 75, Portland OR 97236",2.0,3,1990,Portland,Multnomah,Powell Butte,Centennial,Manufactured - Double Wide Manufact,NaN,Centennial,unknown,79950,1404,97236
4,"12846 SE RAMONA ST 6, Portland OR 97236",2.0,3,1997,Portland,Multnomah,Gilbert Hts,David Douglas,Manufactured - Double Wide Manufact,NaN,Alice Ott,unknown,93900,1297,97236

# Data Cleaning

In [10]:
# Simplify home types 
for i in housing_data.index:
    if "Floating" in housing_data.at[i, "home_type"]:
        housing_data.at[i, "home_type"] = "Floating"
    if "Condo" in housing_data.at[i, "home_type"]:
        housing_data.at[i, "home_type"] = "Condo"
    if "Single Family" in housing_data.at[i, "home_type"]:
        housing_data.at[i, "home_type"] = "Single Family"
    if "Manufactured" in housing_data.at[i, "home_type"]:
        housing_data.at[i, "home_type"] = "Manufactured"
    
housing_data.home_type.unique()

array(['Floating', 'Manufactured', 'Condo', 'Single Family',
       'Co-Op Housing - Contemporary'], dtype=object)

In [11]:
# Print data to compare how many data points lost
print(f'Current Amount of Listings: {len(housing_data)}')

# Change lot size to 0 for floating homes and condos
for i in housing_data.index:
    if housing_data.at[i, "home_type"] == "Floating":
        housing_data.at[i, "lot_size"] = 0
    if housing_data.at[i, "home_type"] == "Condo":
        housing_data.at[i, "lot_size"] = 0

# Drop listing with null lot_size
cleaned_housing_data = housing_data.drop(housing_data[housing_data["lot_size"].isnull()].index)
      
# Print length of data
print(f'Updated Amount of Listings: {len(cleaned_housing_data)}')

Current Amount of Listings: 3652
Updated Amount of Listings: 3477

In [12]:
# Drop listings with unclear Highschool data
cleaned_housing_data.drop(cleaned_housing_data[cleaned_housing_data.high_school == "Current Price:"].index, inplace = True)
cleaned_housing_data.drop(cleaned_housing_data[cleaned_housing_data.high_school == "Other"].index, inplace = True)
cleaned_housing_data.shape

(3462, 15)

In [13]:
# Create a cost ranker based on zipcode
zipcode = cleaned_housing_data[["price","zipcode"]]
zipcodeAVG = zipcode.groupby(["zipcode"]).mean().sort_values(by=["price"], ascending=False)
zipcodeRanker = zipcodeAVG.reset_index(drop=False)
zipcodeRanker.reset_index(drop=False, inplace=True)
zipcodeRanker.rename(columns={"index":"zipcode_rank","price":"zipcodeAVGcost"}, inplace=True)
zipcodeRanker["zipcode_rank"]=zipcodeRanker["zipcode_rank"]+1


# Merge into df
cleaned_housing_data2 = pd.merge(cleaned_housing_data, zipcodeRanker, on="zipcode")
cleaned_housing_data2.rename(columns={"price_y":"zipcodeAVGcost"}, inplace = True)
cleaned_housing_data2.head()

,address,bathrooms,bedrooms,built,city,county,elementary_school,high_school,home_type,lot_size,middle_school,neighborhood,price,square_feet,zipcode,zipcode_rank,zipcodeAVGcost
0,"19609 NE Marine DR E-4, Portland OR 97230",1.0,1,1960,Portland,Multnomah,Salish Pond,Reynolds,Floating,0.0,Reynolds,unknown,129500,735,97230,30,403630.732673
1,"3389 NE 162ND AVE, Portland OR 97230",2.0,2,1979,Portland,Multnomah,Margaret Scott,Reynolds,Condo,0.0,H.B. Lee,Fremont Village Park,160000,1073,97230,30,403630.732673
2,"19609 NE MARINE DR E1, Portland OR 97230",2.0,3,1945,Portland,Multnomah,Salish Pond,Reynolds,Floating,0.0,Reynolds,Big Eddy Marina,224500,1150,97230,30,403630.732673
3,"15041 NE SISKIYOU CT, Portland OR 97230",2.0,2,1973,Portland,Multnomah,Scott,Reynolds,Condo,0.0,H.B. Lee,unknown,229900,1638,97230,30,403630.732673
4,"15025 NE SACRAMENTO ST 56, Portland OR 97230",2.0,2,1986,Portland,Multnomah,Margaret Scott,Reynolds,Condo,0.0,H.B. Lee,SUMMERPLACE,239000,1128,97230,30,403630.732673

In [14]:
# Create district df
school_dict = ({"high_school" : ['Reynolds', 'Parkrose', 'David Douglas', 'Centennial', 'Cleveland',
        'Lincoln', 'Madison', 'Jefferson', 'Roosevelt', 'Sunset','Westview', 'Liberty', 'Beaverton', 
        'Grant', 'Southridge', 'Tigard', 'Wilson', 'Riverdale', 'Lake Oswego', 'Franklin',
        'Tualatin', 'Milwaukie', 'Scappoose'], "district" : ['Reynolds', 'Parkrose','David Douglas',
        'Centennial', 'Portland Public', 'Portland Public', 'Portland Public', 'Portland Public',
        'Portland Public', 'Beaverton', 'Beaverton', 'Hillsboro', 'Beaverton', 'Portland Public',
        'Beaverton', 'Tigard-Tualatin', 'Portland Public', 'Riverdale', 'Lake Oswego', 'Portland Public',
        'Tigard-Tualatin', 'North Clackamas', 'Scappose']})
district_df = pd.DataFrame (school_dict)

# Merge into OG df
cleaned_housing_data3 = pd.merge(cleaned_housing_data2, district_df, on="high_school")
cleaned_housing_data3.head()

,address,bathrooms,bedrooms,built,city,county,elementary_school,high_school,home_type,lot_size,middle_school,neighborhood,price,square_feet,zipcode,zipcode_rank,zipcodeAVGcost,district
0,"19609 NE Marine DR E-4, Portland OR 97230",1.0,1,1960,Portland,Multnomah,Salish Pond,Reynolds,Floating,0.0,Reynolds,unknown,129500,735,97230,30,403630.732673,Reynolds
1,"3389 NE 162ND AVE, Portland OR 97230",2.0,2,1979,Portland,Multnomah,Margaret Scott,Reynolds,Condo,0.0,H.B. Lee,Fremont Village Park,160000,1073,97230,30,403630.732673,Reynolds
2,"19609 NE MARINE DR E1, Portland OR 97230",2.0,3,1945,Portland,Multnomah,Salish Pond,Reynolds,Floating,0.0,Reynolds,Big Eddy Marina,224500,1150,97230,30,403630.732673,Reynolds
3,"15041 NE SISKIYOU CT, Portland OR 97230",2.0,2,1973,Portland,Multnomah,Scott,Reynolds,Condo,0.0,H.B. Lee,unknown,229900,1638,97230,30,403630.732673,Reynolds
4,"15025 NE SACRAMENTO ST 56, Portland OR 97230",2.0,2,1986,Portland,Multnomah,Margaret Scott,Reynolds,Condo,0.0,H.B. Lee,SUMMERPLACE,239000,1128,97230,30,403630.732673,Reynolds

In [15]:
# Create a cost ranker based on high schools
hs = cleaned_housing_data3[["price","high_school"]]
hsAVG = hs.groupby(["high_school"]).mean().sort_values(by=["price"], ascending=False)
hsRanker = hsAVG.reset_index(drop=False)
hsRanker.reset_index(drop=False, inplace=True)
hsRanker.rename(columns={"index":"hs_rank","price":"hsAVGcost"}, inplace=True)
hsRanker["hs_rank"]= hsRanker["hs_rank"]+1

# Create a cost ranker based on districts
district = cleaned_housing_data3[["price","district"]]
districtAVG = district.groupby(["district"]).mean().sort_values(by=["price"], ascending=False)
districtRanker = districtAVG.reset_index(drop=False)
districtRanker.reset_index(drop=False, inplace=True)
districtRanker.rename(columns={"index":"district_rank","price":"districtAVGcost"}, inplace=True)
districtRanker["district_rank"]= districtRanker["district_rank"]+1

In [16]:
# Merge high school and district rankers 
cleaned_housing_data4 = pd.merge(cleaned_housing_data3, hsRanker, on="high_school")
cleaned_housing_data_5 = pd.merge(cleaned_housing_data4, districtRanker, on="district")
cleaned_housing_data_final = cleaned_housing_data_5[['address', 'price', 'home_type', 'bedrooms', 
                                'bathrooms', 'square_feet', 'built', 'lot_size', 'neighborhood', 
                                'county', 'city', 'zipcode', 'zipcode_rank', 'zipcodeAVGcost',
                                'elementary_school', 'middle_school', 'high_school','hs_rank', 
                                'hsAVGcost', 'district', 'district_rank', 'districtAVGcost']]

# Add age of home column
cleaned_housing_data_final["house_age"] = 2020 - cleaned_housing_data_final["built"]
cleaned_housing_data_final.dtypes

c:\users\dcmil\anaconda3\envs\pythondata\lib\site-packages\ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()

address               object
price                  int64
home_type             object
bedrooms               int64
bathrooms            float64
square_feet            int64
built                  int64
lot_size             float64
neighborhood          object
county                object
city                  object
zipcode                int64
zipcode_rank           int64
zipcodeAVGcost       float64
elementary_school     object
middle_school         object
high_school           object
hs_rank                int64
hsAVGcost            float64
district              object
district_rank          int64
districtAVGcost      float64
house_age              int64
dtype: object

## Prepare Data for Model

In [17]:
# Make a copy of the original data frame to modify.
model_df = cleaned_housing_data_final

# Include only those columns that will be used in the deep learning model.
model_df = model_df.loc[:, ["bathrooms",
                            "bedrooms",
#                             "built",
                            "house_age",
                            "lot_size",
                            "square_feet",
#                             "neighborhood",
#                             "county",
#                             "home_type",
#                             "hs_rank",
#                             "hsAVGcost",
                            "districtAVGcost",
#                             "district_rank",
                            "zipcodeAVGcost",
#                             "zipcode_rank",
                            "price"]
                       ]

# Drop rows with NaN entries.
model_df.dropna(inplace=True)

# Check the model data.
print(len(model_df))
model_df.head()

3460

,bathrooms,bedrooms,house_age,lot_size,square_feet,districtAVGcost,zipcodeAVGcost,price
0,1.0,1,60,0.0,735,371628.568421,403630.732673,129500
1,2.0,2,41,0.0,1073,371628.568421,403630.732673,160000
2,2.0,3,75,0.0,1150,371628.568421,403630.732673,224500
3,2.0,2,47,0.0,1638,371628.568421,403630.732673,229900
4,2.0,2,34,0.0,1128,371628.568421,403630.732673,239000

In [18]:
# Bin prices into ten equal length ranges.
model_df["price_range"] = pd.qcut(model_df["price"], 5)
# Drop the original price data.
model_df.drop("price", axis=1, inplace=True)
model_df.head()

,bathrooms,bedrooms,house_age,lot_size,square_feet,districtAVGcost,zipcodeAVGcost,price_range
0,1.0,1,60,0.0,735,371628.568421,403630.732673,"(123499.999, 349900.0]"
1,2.0,2,41,0.0,1073,371628.568421,403630.732673,"(123499.999, 349900.0]"
2,2.0,3,75,0.0,1150,371628.568421,403630.732673,"(123499.999, 349900.0]"
3,2.0,2,47,0.0,1638,371628.568421,403630.732673,"(123499.999, 349900.0]"
4,2.0,2,34,0.0,1128,371628.568421,403630.732673,"(123499.999, 349900.0]"

In [19]:
# # Get dummies for the values in home_type to use in the model.
# model_df = pd.get_dummies(model_df, columns=["home_type"])
# model_df.head()

In [20]:
# Assign X (input) and y (target).
X = model_df.drop("price_range", axis=1)
y = model_df["price_range"]

In [21]:
# Split the data into training and testing
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [22]:
# Create a MinMaxScaler model and fit it to the training data
X_scaler = MinMaxScaler().fit(X_train)

# Save the scalar.
dump(X_scaler, 'minmax_scaler.bin', compress=True)

['minmax_scaler.bin']

In [23]:
# Transform the training and testing data using the X_scaler and y_scaler models.
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [25]:
# Label encode the target data.
label_encoder = LabelEncoder()
label_encoder.fit(y_train)
encoded_y_train = label_encoder.transform(y_train)
encoded_y_test = label_encoder.transform(y_test)

# Save the label encoder
dump(label_encoder, 'label_encoder.bin', compress=True)
print(y_train[0])
print(encoded_y_train[0])

KeyError: 0

In [26]:
# Convert encoded labels to one-hot encoding.
y_train_categorical = to_categorical(encoded_y_train)
y_test_categorical = to_categorical(encoded_y_test)
y_train_categorical[0]

array([1., 0., 0., 0., 0.], dtype=float32)

## Run Random Forest Classifier

In [27]:
# Create a random forest classifier, fit to the training data, and score on the testing data.
rf = RandomForestClassifier(n_estimators=1000)
rf = rf.fit(X_train_scaled, y_train_categorical)
print(rf.score(X_test_scaled, y_test_categorical))

# Find the importances of each feature.
feature_names = X.columns
importances = rf.feature_importances_
print(sorted(zip(rf.feature_importances_, feature_names), reverse=True))

0.6138728323699422
[(0.37548977638972414, 'square_feet'), (0.17037984040298143, 'house_age'), (0.14644498349277243, 'zipcodeAVGcost'), (0.1074277704258031, 'lot_size'), (0.08170511557085021, 'bathrooms'), (0.06983521730736868, 'bedrooms'), (0.04871729641050003, 'districtAVGcost')]

## Create a Deep Learning Model

In [28]:
# Create a deep learning Sequential model.
deep_model = Sequential()
deep_model.add(Dense(units=500, activation='relu', input_dim=7))
deep_model.add(Dense(units=200, activation='relu'))
deep_model.add(Dense(units=100, activation='relu'))
deep_model.add(Dense(units=5, activation='softmax'))

In [29]:
# Compile and fit the model.
deep_model.compile(optimizer='adam', loss='categorical_crossentropy', metrics=['accuracy'])

deep_model.fit(
    X_train_scaled,
    y_train_categorical,
    epochs=190,
    shuffle=True,
    verbose=2
)

Train on 2595 samples
Epoch 1/190
2595/2595 - 1s - loss: 1.3428 - accuracy: 0.3996
Epoch 2/190
2595/2595 - 0s - loss: 1.0389 - accuracy: 0.5329
Epoch 3/190
2595/2595 - 0s - loss: 1.0162 - accuracy: 0.5511
Epoch 4/190
2595/2595 - 0s - loss: 0.9705 - accuracy: 0.5565
Epoch 5/190
2595/2595 - 0s - loss: 0.9643 - accuracy: 0.5653
Epoch 6/190
2595/2595 - 0s - loss: 0.9275 - accuracy: 0.5908
Epoch 7/190
2595/2595 - 0s - loss: 0.9423 - accuracy: 0.5765
Epoch 8/190
2595/2595 - 0s - loss: 0.9259 - accuracy: 0.5857
Epoch 9/190
2595/2595 - 0s - loss: 0.8991 - accuracy: 0.6046
Epoch 10/190
2595/2595 - 0s - loss: 0.9098 - accuracy: 0.5977
Epoch 11/190
2595/2595 - 0s - loss: 0.8868 - accuracy: 0.6123
Epoch 12/190
2595/2595 - 0s - loss: 0.8880 - accuracy: 0.6181
Epoch 13/190
2595/2595 - 0s - loss: 0.8841 - accuracy: 0.6092
Epoch 14/190
2595/2595 - 0s - loss: 0.8718 - accuracy: 0.6185
Epoch 15/190
2595/2595 - 0s - loss: 0.8759 - accuracy: 0.6243
Epoch 16/190
2595/2595 - 0s - loss: 0.8660 - accuracy: 0.6247
Epoch 17/190
2595/2595 - 0s - loss: 0.8621 - accuracy: 0.6293
Epoch 18/190
2595/2595 - 0s - loss: 0.8598 - accuracy: 0.6216
Epoch 19/190
2595/2595 - 0s - loss: 0.8721 - accuracy: 0.6212
Epoch 20/190
2595/2595 - 0s - loss: 0.8594 - accuracy: 0.6351
Epoch 21/190
2595/2595 - 0s - loss: 0.8638 - accuracy: 0.6220
Epoch 22/190
2595/2595 - 0s - loss: 0.8416 - accuracy: 0.6439
Epoch 23/190
2595/2595 - 0s - loss: 0.8466 - accuracy: 0.6312
Epoch 24/190
2595/2595 - 0s - loss: 0.8531 - accuracy: 0.6339
Epoch 25/190
2595/2595 - 0s - loss: 0.8501 - accuracy: 0.6412
Epoch 26/190
2595/2595 - 0s - loss: 0.8383 - accuracy: 0.6505
Epoch 27/190
2595/2595 - 0s - loss: 0.8379 - accuracy: 0.6451
Epoch 28/190
2595/2595 - 0s - loss: 0.8377 - accuracy: 0.6447
Epoch 29/190
2595/2595 - 0s - loss: 0.8380 - accuracy: 0.6459
Epoch 30/190
2595/2595 - 0s - loss: 0.8279 - accuracy: 0.6509
Epoch 31/190
2595/2595 - 0s - loss: 0.8459 - accuracy: 0.6355
Epoch 32/190
2595/2595 - 0s - loss: 0.8498 - accuracy: 0.6447
Epoch 33/190
2595/2595 - 0s - loss: 0.8163 - accuracy: 0.6513
Epoch 34/190
2595/2595 - 0s - loss: 0.8193 - accuracy: 0.6559
Epoch 35/190
2595/2595 - 0s - loss: 0.8164 - accuracy: 0.6513
Epoch 36/190
2595/2595 - 0s - loss: 0.8280 - accuracy: 0.6478
Epoch 37/190
2595/2595 - 0s - loss: 0.8352 - accuracy: 0.6486
Epoch 38/190
2595/2595 - 0s - loss: 0.8119 - accuracy: 0.6493
Epoch 39/190
2595/2595 - 0s - loss: 0.8061 - accuracy: 0.6659
Epoch 40/190
2595/2595 - 0s - loss: 0.8028 - accuracy: 0.6678
Epoch 41/190
2595/2595 - 0s - loss: 0.8136 - accuracy: 0.6516
Epoch 42/190
2595/2595 - 0s - loss: 0.8034 - accuracy: 0.6628
Epoch 43/190
2595/2595 - 0s - loss: 0.8162 - accuracy: 0.6478
Epoch 44/190
2595/2595 - 0s - loss: 0.7999 - accuracy: 0.6551
Epoch 45/190
2595/2595 - 0s - loss: 0.8064 - accuracy: 0.6620
Epoch 46/190
2595/2595 - 0s - loss: 0.8068 - accuracy: 0.6451
Epoch 47/190
2595/2595 - 0s - loss: 0.8182 - accuracy: 0.6509
Epoch 48/190
2595/2595 - 0s - loss: 0.7881 - accuracy: 0.6724
Epoch 49/190
2595/2595 - 0s - loss: 0.8153 - accuracy: 0.6516
Epoch 50/190
2595/2595 - 0s - loss: 0.8039 - accuracy: 0.6543
Epoch 51/190
2595/2595 - 0s - loss: 0.7938 - accuracy: 0.6609
Epoch 52/190
2595/2595 - 0s - loss: 0.7868 - accuracy: 0.6732
Epoch 53/190
2595/2595 - 0s - loss: 0.7745 - accuracy: 0.6721
Epoch 54/190
2595/2595 - 0s - loss: 0.7704 - accuracy: 0.6732
Epoch 55/190
2595/2595 - 0s - loss: 0.7785 - accuracy: 0.6736
Epoch 56/190
2595/2595 - 0s - loss: 0.7741 - accuracy: 0.6748
Epoch 57/190
2595/2595 - 0s - loss: 0.7852 - accuracy: 0.6705
Epoch 58/190
2595/2595 - 0s - loss: 0.7738 - accuracy: 0.6647
Epoch 59/190
2595/2595 - 0s - loss: 0.7681 - accuracy: 0.6790
Epoch 60/190
2595/2595 - 0s - loss: 0.7780 - accuracy: 0.6674
Epoch 61/190
2595/2595 - 0s - loss: 0.7863 - accuracy: 0.6570
Epoch 62/190
2595/2595 - 0s - loss: 0.7714 - accuracy: 0.6821
Epoch 63/190
2595/2595 - 0s - loss: 0.7666 - accuracy: 0.6724
Epoch 64/190
2595/2595 - 0s - loss: 0.7700 - accuracy: 0.6782
Epoch 65/190
2595/2595 - 0s - loss: 0.7625 - accuracy: 0.6802
Epoch 66/190
2595/2595 - 0s - loss: 0.7619 - accuracy: 0.6697
Epoch 67/190
2595/2595 - 0s - loss: 0.7626 - accuracy: 0.6767
Epoch 68/190
2595/2595 - 0s - loss: 0.7708 - accuracy: 0.6667
Epoch 69/190
2595/2595 - 0s - loss: 0.7580 - accuracy: 0.6786
Epoch 70/190
2595/2595 - 0s - loss: 0.7497 - accuracy: 0.6821
Epoch 71/190
2595/2595 - 0s - loss: 0.7466 - accuracy: 0.6836
Epoch 72/190
2595/2595 - 0s - loss: 0.7614 - accuracy: 0.6759
Epoch 73/190
2595/2595 - 0s - loss: 0.7540 - accuracy: 0.6832
Epoch 74/190
2595/2595 - 0s - loss: 0.7469 - accuracy: 0.6790
Epoch 75/190
2595/2595 - 0s - loss: 0.7443 - accuracy: 0.6782
Epoch 76/190
2595/2595 - 0s - loss: 0.7505 - accuracy: 0.6844
Epoch 77/190
2595/2595 - 0s - loss: 0.7421 - accuracy: 0.6863
Epoch 78/190
2595/2595 - 0s - loss: 0.7447 - accuracy: 0.6817
Epoch 79/190
2595/2595 - 0s - loss: 0.7320 - accuracy: 0.6944
Epoch 80/190
2595/2595 - 0s - loss: 0.7500 - accuracy: 0.6721
Epoch 81/190
2595/2595 - 0s - loss: 0.7562 - accuracy: 0.6755
Epoch 82/190
2595/2595 - 0s - loss: 0.7364 - accuracy: 0.6871
Epoch 83/190
2595/2595 - 0s - loss: 0.7428 - accuracy: 0.6829
Epoch 84/190
2595/2595 - 0s - loss: 0.7263 - accuracy: 0.6971
Epoch 85/190
2595/2595 - 0s - loss: 0.7224 - accuracy: 0.6929
Epoch 86/190
2595/2595 - 0s - loss: 0.7290 - accuracy: 0.6886
Epoch 87/190
2595/2595 - 0s - loss: 0.7302 - accuracy: 0.6971
Epoch 88/190
2595/2595 - 0s - loss: 0.7332 - accuracy: 0.6956
Epoch 89/190
2595/2595 - 0s - loss: 0.7167 - accuracy: 0.6940
Epoch 90/190
2595/2595 - 0s - loss: 0.7227 - accuracy: 0.6956
Epoch 91/190
2595/2595 - 0s - loss: 0.7225 - accuracy: 0.6948
Epoch 92/190
2595/2595 - 0s - loss: 0.7179 - accuracy: 0.6952
Epoch 93/190
2595/2595 - 0s - loss: 0.7216 - accuracy: 0.6979
Epoch 94/190
2595/2595 - 0s - loss: 0.7151 - accuracy: 0.6963
Epoch 95/190
2595/2595 - 0s - loss: 0.7018 - accuracy: 0.6940
Epoch 96/190
2595/2595 - 0s - loss: 0.7106 - accuracy: 0.6902
Epoch 97/190
2595/2595 - 0s - loss: 0.7083 - accuracy: 0.7002
Epoch 98/190
2595/2595 - 0s - loss: 0.7161 - accuracy: 0.6940
Epoch 99/190
2595/2595 - 0s - loss: 0.6955 - accuracy: 0.7087
Epoch 100/190
2595/2595 - 0s - loss: 0.7054 - accuracy: 0.6913
Epoch 101/190
2595/2595 - 0s - loss: 0.7047 - accuracy: 0.7033
Epoch 102/190
2595/2595 - 0s - loss: 0.7060 - accuracy: 0.7013
Epoch 103/190
2595/2595 - 0s - loss: 0.7249 - accuracy: 0.6836
Epoch 104/190
2595/2595 - 0s - loss: 0.7015 - accuracy: 0.7067
Epoch 105/190
2595/2595 - 0s - loss: 0.6866 - accuracy: 0.7075
Epoch 106/190
2595/2595 - 0s - loss: 0.7028 - accuracy: 0.7056
Epoch 107/190
2595/2595 - 0s - loss: 0.6892 - accuracy: 0.7075
Epoch 108/190
2595/2595 - 0s - loss: 0.6981 - accuracy: 0.7029
Epoch 109/190
2595/2595 - 0s - loss: 0.6923 - accuracy: 0.7102
Epoch 110/190
2595/2595 - 0s - loss: 0.6801 - accuracy: 0.7075
Epoch 111/190
2595/2595 - 0s - loss: 0.6768 - accuracy: 0.7152
Epoch 112/190
2595/2595 - 0s - loss: 0.6808 - accuracy: 0.7106
Epoch 113/190
2595/2595 - 0s - loss: 0.6918 - accuracy: 0.7029
Epoch 114/190
2595/2595 - 0s - loss: 0.6741 - accuracy: 0.7164
Epoch 115/190
2595/2595 - 0s - loss: 0.6679 - accuracy: 0.7091
Epoch 116/190
2595/2595 - 0s - loss: 0.6809 - accuracy: 0.7175
Epoch 117/190
2595/2595 - 0s - loss: 0.6702 - accuracy: 0.7156
Epoch 118/190
2595/2595 - 0s - loss: 0.6704 - accuracy: 0.7137
Epoch 119/190
2595/2595 - 0s - loss: 0.6566 - accuracy: 0.7233
Epoch 120/190
2595/2595 - 0s - loss: 0.6556 - accuracy: 0.7283
Epoch 121/190
2595/2595 - 0s - loss: 0.6526 - accuracy: 0.7291
Epoch 122/190
2595/2595 - 0s - loss: 0.6634 - accuracy: 0.7098
Epoch 123/190
2595/2595 - 0s - loss: 0.6563 - accuracy: 0.7171
Epoch 124/190
2595/2595 - 0s - loss: 0.6492 - accuracy: 0.7256
Epoch 125/190
2595/2595 - 0s - loss: 0.6670 - accuracy: 0.7160
Epoch 126/190
2595/2595 - 0s - loss: 0.6598 - accuracy: 0.7164
Epoch 127/190
2595/2595 - 0s - loss: 0.6472 - accuracy: 0.7222
Epoch 128/190
2595/2595 - 0s - loss: 0.6532 - accuracy: 0.7314
Epoch 129/190
2595/2595 - 0s - loss: 0.6387 - accuracy: 0.7291
Epoch 130/190
2595/2595 - 0s - loss: 0.6398 - accuracy: 0.7318
Epoch 131/190
2595/2595 - 0s - loss: 0.6570 - accuracy: 0.7191
Epoch 132/190
2595/2595 - 0s - loss: 0.6489 - accuracy: 0.7210

Epoch 133/190
2595/2595 - 0s - loss: 0.6425 - accuracy: 0.7364
Epoch 134/190
2595/2595 - 0s - loss: 0.6556 - accuracy: 0.7183
Epoch 135/190
2595/2595 - 0s - loss: 0.6455 - accuracy: 0.7237
Epoch 136/190
2595/2595 - 0s - loss: 0.6408 - accuracy: 0.7218
Epoch 137/190
2595/2595 - 0s - loss: 0.6353 - accuracy: 0.7314
Epoch 138/190
2595/2595 - 0s - loss: 0.6314 - accuracy: 0.7310
Epoch 139/190
2595/2595 - 0s - loss: 0.6249 - accuracy: 0.7356
Epoch 140/190
2595/2595 - 0s - loss: 0.6355 - accuracy: 0.7303
Epoch 141/190
2595/2595 - 0s - loss: 0.6189 - accuracy: 0.7480
Epoch 142/190
2595/2595 - 0s - loss: 0.6485 - accuracy: 0.7222
Epoch 143/190
2595/2595 - 0s - loss: 0.6143 - accuracy: 0.7410
Epoch 144/190
2595/2595 - 0s - loss: 0.6302 - accuracy: 0.7376
Epoch 145/190
2595/2595 - 0s - loss: 0.6153 - accuracy: 0.7345
Epoch 146/190
2595/2595 - 0s - loss: 0.6152 - accuracy: 0.7457
Epoch 147/190
2595/2595 - 0s - loss: 0.6098 - accuracy: 0.7503
Epoch 148/190
2595/2595 - 0s - loss: 0.6253 - accuracy: 0.7353
Epoch 149/190
2595/2595 - 0s - loss: 0.6130 - accuracy: 0.7399
Epoch 150/190
2595/2595 - 0s - loss: 0.6063 - accuracy: 0.7441
Epoch 151/190
2595/2595 - 0s - loss: 0.6202 - accuracy: 0.7349
Epoch 152/190
2595/2595 - 0s - loss: 0.6030 - accuracy: 0.7476
Epoch 153/190
2595/2595 - 0s - loss: 0.6028 - accuracy: 0.7453
Epoch 154/190
2595/2595 - 0s - loss: 0.6005 - accuracy: 0.7507
Epoch 155/190
2595/2595 - 0s - loss: 0.5999 - accuracy: 0.7468
Epoch 156/190
2595/2595 - 0s - loss: 0.6075 - accuracy: 0.7399
Epoch 157/190
2595/2595 - 0s - loss: 0.5934 - accuracy: 0.7426
Epoch 158/190
2595/2595 - 0s - loss: 0.6048 - accuracy: 0.7395
Epoch 159/190
2595/2595 - 0s - loss: 0.5814 - accuracy: 0.7603
Epoch 160/190
2595/2595 - 0s - loss: 0.6140 - accuracy: 0.7376
Epoch 161/190
2595/2595 - 0s - loss: 0.5922 - accuracy: 0.7511
Epoch 162/190
2595/2595 - 0s - loss: 0.5947 - accuracy: 0.7484
Epoch 163/190
2595/2595 - 0s - loss: 0.6072 - accuracy: 0.7407
Epoch 164/190
2595/2595 - 0s - loss: 0.5775 - accuracy: 0.7584
Epoch 165/190
2595/2595 - 0s - loss: 0.5709 - accuracy: 0.7541
Epoch 166/190
2595/2595 - 0s - loss: 0.5658 - accuracy: 0.7669
Epoch 167/190
2595/2595 - 0s - loss: 0.5899 - accuracy: 0.7476
Epoch 168/190
2595/2595 - 0s - loss: 0.5644 - accuracy: 0.7634
Epoch 169/190
2595/2595 - 0s - loss: 0.5703 - accuracy: 0.7522
Epoch 170/190
2595/2595 - 0s - loss: 0.5702 - accuracy: 0.7538
Epoch 171/190
2595/2595 - 0s - loss: 0.5695 - accuracy: 0.7553
Epoch 172/190
2595/2595 - 0s - loss: 0.5654 - accuracy: 0.7622
Epoch 173/190
2595/2595 - 0s - loss: 0.6056 - accuracy: 0.7403
Epoch 174/190
2595/2595 - 0s - loss: 0.5816 - accuracy: 0.7476
Epoch 175/190
2595/2595 - 0s - loss: 0.5724 - accuracy: 0.7634
Epoch 176/190
2595/2595 - 0s - loss: 0.5631 - accuracy: 0.7638
Epoch 177/190
2595/2595 - 0s - loss: 0.5632 - accuracy: 0.7599
Epoch 178/190
2595/2595 - 0s - loss: 0.5496 - accuracy: 0.7622
Epoch 179/190
2595/2595 - 0s - loss: 0.5371 - accuracy: 0.7769
Epoch 180/190
2595/2595 - 0s - loss: 0.5405 - accuracy: 0.7715
Epoch 181/190
2595/2595 - 0s - loss: 0.5511 - accuracy: 0.7672
Epoch 182/190
2595/2595 - 0s - loss: 0.5444 - accuracy: 0.7676
Epoch 183/190
2595/2595 - 0s - loss: 0.5634 - accuracy: 0.7572
Epoch 184/190
2595/2595 - 0s - loss: 0.5623 - accuracy: 0.7611
Epoch 185/190
2595/2595 - 0s - loss: 0.5435 - accuracy: 0.7753
Epoch 186/190
2595/2595 - 0s - loss: 0.5470 - accuracy: 0.7699
Epoch 187/190
2595/2595 - 0s - loss: 0.5299 - accuracy: 0.7761
Epoch 188/190
2595/2595 - 0s - loss: 0.5441 - accuracy: 0.7638
Epoch 189/190
2595/2595 - 0s - loss: 0.5259 - accuracy: 0.7746
Epoch 190/190
2595/2595 - 0s - loss: 0.5207 - accuracy: 0.7803

## Quantify our Trained Model

In [30]:
model_loss, model_accuracy = deep_model.evaluate(X_test_scaled, y_test_categorical, verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

865/865 - 0s - loss: 0.9938 - accuracy: 0.6393
Loss: 0.9937747897440296, Accuracy: 0.639306366443634

## Make Predictions

In [31]:
# Use the first 10 test data values to make a prediction and compare it to the actual labels.
encoded_predictions = deep_model.predict_classes(X_test_scaled[:10])
prediction_labels = label_encoder.inverse_transform(encoded_predictions)

print(f"Predicted classes: {prediction_labels}")
print(f"Actual Labels: {list(y_test[:10])}")

Predicted classes: [Interval(799900.0, 4495000.0, closed='right')
 Interval(799900.0, 4495000.0, closed='right')
 Interval(349900.0, 449000.0, closed='right')
 Interval(799900.0, 4495000.0, closed='right')
 Interval(123499.999, 349900.0, closed='right')
 Interval(349900.0, 449000.0, closed='right')
 Interval(799900.0, 4495000.0, closed='right')
 Interval(449000.0, 599900.0, closed='right')
 Interval(599900.0, 799900.0, closed='right')
 Interval(123499.999, 349900.0, closed='right')]
Actual Labels: [Interval(799900.0, 4495000.0, closed='right'), Interval(799900.0, 4495000.0, closed='right'), Interval(123499.999, 349900.0, closed='right'), Interval(799900.0, 4495000.0, closed='right'), Interval(123499.999, 349900.0, closed='right'), Interval(449000.0, 599900.0, closed='right'), Interval(799900.0, 4495000.0, closed='right'), Interval(449000.0, 599900.0, closed='right'), Interval(449000.0, 599900.0, closed='right'), Interval(123499.999, 349900.0, closed='right')]

## Save the trained model

In [32]:
# Save the model
deep_model.save("housing_model_trained.h5")

## Test the saved model, scaler, and label encoder

In [33]:
# Load the model, scaler and label encoder.
model = load_model("housing_model_trained.h5")
scaler = load("minmax_scaler.bin")
label_encoder = load("label_encoder.bin")

In [34]:
# Input data for testing.
input_data = np.array(np.array([X.iloc[0]]))

In [35]:
X.iloc[0]

bathrooms               1.000000
bedrooms                1.000000
house_age              60.000000
lot_size                0.000000
square_feet           735.000000
districtAVGcost    371628.568421
zipcodeAVGcost     403630.732673
Name: 0, dtype: float64

In [36]:
encoded_predictions = model.predict_classes(scaler.transform(input_data))
prediction_labels = label_encoder.inverse_transform(encoded_predictions)

print(f"{prediction_labels[0].left}, {prediction_labels[0].right}")

123499.999, 349900.0