In [1]:
#Import Dependencies
import pandas as pd
import numpy as np
housingDF = pd.read_csv("../Resources/housingDataUpdated.csv")

In [2]:
#Neighborhood has 662 unknowns
housingDF.groupby("neighborhood").nunique()

,address,price,home_type,bedrooms,bathrooms,square_feet,built,lot_size,neighborhood,county,city,zipcode,high_school,middle_school,elementary_school
neighborhood,,,,,,,,,,,,,,,
12662,1,1,1,1,1,1,1,0,1,1,1,1,1,1,1
3 lots from Alberta,1,1,1,1,1,1,1,0,1,1,1,1,1,1,1
ALAMEDA,3,3,3,2,2,3,3,2,1,1,1,2,1,2,2
ALAMEDA / BEAUMONT,2,2,2,2,2,2,2,2,1,1,1,1,1,1,1
ALAMEDA / IRVINGTON,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Woodstock,5,4,3,2,4,4,4,2,1,1,1,1,1,2,2
Wwest Hills,1,1,1,1,1,1,1,0,1,1,1,1,1,1,1
cOSMOPOLITAN/PEARL DISTRI,1,1,1,1,1,1,1,0,1,1,1,1,1,1,1
lost park,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
unknown,662,393,56,10,7,571,122,84,1,3,1,32,24,56,108

In [3]:
#lot_size has 692 NaN values
housingDF['lot_size'].isna().sum()

692

In [4]:
#dropping extraneous columns
allCleanHousing = housingDF.drop(columns={"address", "city", "lot_size", "neighborhood", 
                                          "middle_school", "elementary_school"})

In [5]:
allCleanHousing.nunique()

price           759
home_type        72
bedrooms         10
bathrooms         8
square_feet    1273
built           134
county            3
zipcode          33
high_school      25
dtype: int64

In [6]:
#dropping high_school where string == Current Price:
counter = 1
for index, row in allCleanHousing.iterrows():
    if (row['high_school'] == "Current Price:") or (row['high_school'] == "Other"):
        allCleanHousing.drop(index, inplace=True)
        print(f"removed: {counter} row(s)")
        counter +=1

removed: 1 row(s)
removed: 2 row(s)
removed: 3 row(s)
removed: 4 row(s)
removed: 5 row(s)
removed: 6 row(s)
removed: 7 row(s)
removed: 8 row(s)
removed: 9 row(s)
removed: 10 row(s)
removed: 11 row(s)

In [7]:
# allCleanHousing.to_csv("../Resources/allCleanHousing.csv", index=False)

In [8]:
cleanHousingIncludeLotSize = housingDF.drop(columns={"address", "city", "neighborhood", 
                                          "middle_school", "elementary_school"})
cleanHousingIncludeLotSize = cleanHousingIncludeLotSize.dropna()
cleanHousingIncludeLotSize

,price,home_type,bedrooms,bathrooms,square_feet,built,lot_size,county,zipcode,high_school
10,157900,Single Family - Bungalow,2,1.0,879,1905,0.07,Multnomah,97203,Jefferson
60,225000,Manufactured - Manufactured Home,3,2.0,1400,1999,0.10,Multnomah,97203,Roosevelt
64,229800,Single Family - Ranch,3,1.0,1032,1959,0.16,Multnomah,97233,Centennial
72,235000,Condo - 2 Story,3,2.0,1219,1988,0.06,Multnomah,97233,David Douglas
78,239900,Single Family - Bungalow,1,1.0,456,1957,0.15,Multnomah,97230,Reynolds
...,...,...,...,...,...,...,...,...,...,...
1775,3850000,Single Family - Mediterranean/Missio,5,7.0,7088,1930,0.31,Multnomah,97201,Lincoln
1776,3900000,Single Family - Other,5,6.0,13000,2013,6.40,Multnomah,97231,Lincoln
1777,3950000,Single Family - Traditional,5,1.0,8580,1938,1.23,Multnomah,97219,Riverdale
1779,3995000,Single Family - Colonial,6,7.0,8919,1916,1.77,Multnomah,97219,Riverdale
1780,4495000,Single Family - Colonial,4,6.0,9829,1916,1.57,Multnomah,97219,Riverdale

In [9]:
counter = 1
for index, row in cleanHousingIncludeLotSize.iterrows():
    if (row['high_school'] == "Current Price:") or (row['high_school'] == "Other"):
        cleanHousingIncludeLotSize.drop(index, inplace=True)
        print(f"removed: {counter} row(s)")
        counter +=1

removed: 1 row(s)
removed: 2 row(s)
removed: 3 row(s)
removed: 4 row(s)
removed: 5 row(s)
removed: 6 row(s)

In [10]:
# cleanHousingIncludeLotSize.to_csv("../Resources/clean_include_lot_size.csv", index=False)